= simple_form_for(@taskm html: {class: 'form-horizontal'}) dp |f|
  =f.input :title, label: "Task title"
  =f.input :description, label: "Task description"
  =f.input :company, label: "your company"
  =f.input :url, label: "link to task"
  %br/
  =f.button :submit